* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@media (max-width: 1280px) {
    html {
        font-size: 50%;
    }
}
    
body{
    font-family: sans-serif;
    background-color: #f5f3ef;
    font-size: 1.6rem;
}
.primary-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 1rem 2rem;
    border-radius: 7px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid rgb(238, 224, 224);
    align-items: center;
    gap: 1rem;
}
.logo-wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-wrapper i{
    color: green;
}
.nav-items{
    list-style: none;
    display: flex;
    gap: 5rem;
}
@media (max-width: 700px) {
    .nav-items {
        display: none;
    }
}
.nav-items a{
    text-decoration: none;
    color: rgb(65, 63, 63);
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 2rem;
}
@media (max-width:740px) {
    .hero-container{
    flex-direction: column;
    }
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
}
.hero-content {
    flex-basis: 100%;
}
.hero-text-tag{
    background-color: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 2rem;
}
@media (max-width: 400px) {
    .hero-text-tag {
        font-size: 1rem;
    }
}
.hero-heading{
    font-size: 5rem;
}
@media (max-width: 900px) {
    .hero-heading {
        font-size: 2.5rem;
    }
}
.hero-paragraph{
    color: #4b5563;
}
.hero-lists{
    list-style: none;
    color: #4b5563;
    
}
.hero-list{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-list i{
    color: #16a34a;
}
.outlined-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}
.hero-btn-wrapper{
    display: flex;
    gap: 20px;
}
@media (max-width:740px) {
    .hero-btn-wrapper {
        display: grid;
        text-align: center;
        
    }
}


.hero-image-wrapper{
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}
.hero-image{
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;
    object-fit: cover;
    
}
@media (max-width: 900px) {
    .hero-image {
        width: 40rem;
        height: 30rem;
    }
}
@media (max-width: 740px) {
    .hero-image-wrapper {
padding: 4rem;

    }
}

.how-it-works{
    background-color: #e0f2f1;
    padding: 5rem 2rem;
}
.how-it-works-title{
    text-align: center;
}
.how-it-works-title h3{
    font-size: 3.2rem;
    font-weight: 500;
}
.how-it-works-title p{
    color: #4b5563;
    margin-top: 5px;
}
.how-it-works-card-container{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
@media (max-width: 640px) {
    .how-it-works-card-container {
        flex-direction: column;
    }
}
.how-it-works-card{
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}
.how-it-works-card i{
    color: green;
}
.how-it-works-card h4{
    font-weight: 600;
    font-size: 2rem;
}

.everything-you-need{
padding: 5rem 2rem;
}
.everything-you-need-title{
    text-align: center;
    
}
.everything-you-need-title h3{
    font-size: 3.2rem;
    font-weight: 500;
}
.everything-you-need-title p{
    color: #4b5563;
    margin-top: 5px;
}
.everything-you-need-card-container{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
@media (max-width: 640px) {
    .everything-you-need-card-container {
        flex-direction: column;
    }
}
.everything-you-need-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    padding: 3rem;
}
.everything-you-need-card h4{
    font-size: 2rem;
    font-weight: 500;
}
.everything-you-need-card p{
    color: #4b5563;
}
.everything-you-need-card ul{
    color: #4b5563;
    list-style: none;
}
.ready-to-simplify{
    background-color: green;
    border-radius: 1rem;
    margin: 3rem;
    
}
.ready-to-simplify-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
    color: white;
}
.ready-to-simplify-content h3{
    text-align: center;
}
.ready-to-simplify-content p{
    text-align: center;
}
.ready-to-simplify-content-btn{
    display: flex;
   justify-content: center;

}
.ready-to-simplify-content-btn button{
    width: 15rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
@media (max-width:640px) {
    .ready-to-simplify-content-btn button {
        width: 13rem;
    }
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #4b5563;
    
}
@media (max-width:640px) {
    .footer-container {
        flex-direction: column;
        gap: 5px;
       font-size: 1.3rem;
       align-items: center;
     
    }
}
