* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f5f3ef;
}
.primary-btn{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 10px 20px;
    border-radius: 7px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(238, 224, 224);
    align-items: center;
    gap: 10px;
}
.logo-wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-wrapper i{
    color: green;
}
.nav-items{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-items a{
    text-decoration: none;
    color: rgb(65, 63, 63);
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}
.hero-text-tag{
    background-color: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 20px;
}
.hero-heading{
    font-size: 50px;
}
.hero-paragraph{
    color: #4b5563;
}
.hero-lists{
    list-style: none;
    color: #4b5563;
}
.hero-list{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-list i{
    color: #16a34a;
}
.outlined-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}
.hero-btn-wrapper{
    display: flex;
    gap: 20px;
}
.hero-image-wrapper{
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}
.hero-image{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    
}
.how-it-works{
    background-color: #e0f2f1;
    padding: 50px 20px;
}
.how-it-works-title{
    text-align: center;
}
.how-it-works-title h3{
    font-size: 32px;
    font-weight: 500;
}
.how-it-works-title p{
    color: #4b5563;
    margin-top: 5px;
}
.how-it-works-card-container{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.how-it-works-card{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}
.how-it-works-card h4{
    font-weight: 600;
    font-size: 20px;
}

.everything-you-need{
padding: 50px 20px;
}
.everything-you-need-title{
    text-align: center;
    
}
.everything-you-need-title h3{
    font-size: 32px;
    font-weight: 500;
}
.everything-you-need-title p{
    color: #4b5563;
    margin-top: 5px;
}
.everything-you-need-card-container{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.everything-you-need-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    padding: 30px;
}
.everything-you-need-card h4{
    font-size: 20px;
    font-weight: 500;
}
.everything-you-need-card p{
    color: #4b5563;
}
.everything-you-need-card ul{
    color: #4b5563;
    list-style: none;
}
.ready-to-simplify{
    background-color: green;
    border-radius: 10px;
    margin: 50px;
    
}
.ready-to-simplify-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    color: white;
}
.ready-to-simplify-content h3{
    text-align: center;
}
.ready-to-simplify-content p{
    text-align: center;
}
.ready-to-simplify-content-btn{
    display: flex;
   justify-content: center;

}
.ready-to-simplify-content-btn button{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}


.mid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.donate-btn{
    background-color: brown;
    padding: 12px 30px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    
    
}
.child-image{
    flex-basis: 50%;
}
.children-image{
    padding: 60px;
    width: 1000px;
    height: 500px;
    border-radius: 70px;
    object-fit: cover;
    border-style: none;
      
} 